body {
    background-color: black;
    color: white;
    font-family: monospace;
}

/*about begin*/
.headinga {
    margin-top: -210px;
    margin-left: 200px;
    color: rgb(105, 104, 104);
    font-weight: 900;
    font-size: 15px;
    

}

.listA {
    margin-left: 150px;
    margin-top: 70px;
}
.lists{
    margin-left: -60px;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: flex;
}

.headinge {
    margin-top: 50px;
    margin-left: 10px;
    color: rgb(105, 104, 104);
    font-weight: 900;
    font-size: 12px;
    word-spacing: 125px;
}

.listE {
    margin-left: -30px;
    margin-top: 10px;
}

/* social icon begin*/

@media (max-width:1150px)
{.socialicon a{
      display: flex;
      margin-left: 450px;
      margin-bottom: 15px;
      margin-top: 0px;
      width: 15px;
}
  .socialicon{
      margin-top: -158px;
  }

  .row img{
    display: flex;
    margin-left: 250px;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  .row{
    margin-top: -250px;
  }
  
}

.socialicon:hover {
    opacity: 0.7;  
}

.fa-facebook-f {
    text-align: center;
    text-decoration: none;
    background-color: rgb(105, 104, 104);
    width: 25px;
    color: black;
    border-radius: 2px;
}

.fa-twitter {
    color: rgb(105, 104, 104);
    text-decoration: none;
    width: 25px;
}

.fa-linkedin {
    background-color: rgb(105, 104, 104);
    text-decoration: none;
    width: 25px;
    color: black;
    border-radius: 2px;
    text-align: center;
}

.fa-youtube-play {
    text-decoration: none;
    color: rgb(105, 104, 104);
    width: 25px;
    border-radius: 2px;
}

.fa-instagram {
    color: rgb(105, 104, 104);
    text-decoration: none;
    width: 25px;
}

/* social icon end*/

.store {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    margin-top: 100px;
}


.m {
    display: none;
}
.master img{
    display:flex;
    justify-content: start;
    margin-top: 50px;
}
.foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: center;
    margin-top: -30px;
    margin-left: 120px;
   color:gray;
  font-size: medium;
   font-weight: bold;
}
.f{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top:-45px; 
margin-left: -160px;
color:gray;
font-size: medium;
font-weight: bold;
}



@media (max-width:750px) {

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        margin-top:-100px ;
    }
    .row img{
        margin-top:0px;
        margin-left: 20px;
    }
  
    .socialicon {
        padding: 5px;
        font-size: x-large;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        margin-left: 20px;
        
    }
    .socialicon a{
        margin-top:160px;
        margin-left: 0px;
        width: 25px;
    }
    .s  {
        display: none; 
    } 
    .ss{
        display:none;
    }
    .lists{
        display: none;
    }
    .foot{
        display:none;
    }
    .f{
    display: none;
    
    }
    
    .master {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: space-between;
        margin-top: -50px;
    }
    .m {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: space-between;
    }
}
   